{% include 'layout.html' %}

<div class ="container">
    <div class = "card text-ceenter">
        <div class=  "card-header">
            Your Todo's

        </div>
        <div class = "card-body">
            <h5 class ="card-title">
                
                List of your Todos!
            </h5>
            <p class ="card-text">
                Information regarding stuff that needs to be completed.

            </p>
            <table class ="table table-hover">
                <thead>
                    <tr>
                        <th scope ="col">#</th> 
                        <th scope ="col">Info</th>
                        <th scope ="col">Description</th>
                        <th scope ="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    {% if todo.complete == False %}
                    <tr class ="pointer">
                        <td>{{loop.index}}</td>
                        <td>{{todo.title}}</td>
                        <td>{{todo.description}}</td>
                        <td>
                            <button onclick="location.href='edit-todo-page/{{todo.id}}'" type ="button" class ="btn btn-info">
                                EDIT

                            </button>
                        </td>
                        
                    </tr>
                    {% else %}
                    <tr class ="pointer alert alert-success">
                        <td>{{loop.index}}</td>
                        <td class ="strike-through-td">{{todo.title}}</td>
                        <td>{{todo.description}}</td>

                        <td>
                            <button onclick="location.href='edit-todo-page/{{todo.id}}'" type ="button" class ="btn btn-info">
                                EDIT

                            </button>
                        </td>
                        
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>

            </table>
            <a href="add-todo-page" class = "btn btn-primary">Add new todo</a>
        </div>

    </div>

</div>